.sales-leads {
  display: flex;
  justify-content: flex-end;
}

.sales-leads__card {
  background: white;
  padding: 16px 16px 16px 16px;
  border-radius: 3px;
  position: relative;
  top: 70px;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.03); // border:solid 1px rgba(0, 0, 0, 0.04);
  width: 100%;
  height: 100%;
}

.sales-leads__table {
  width: 100%;
  margin-top: 1rem;

  thead th {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    &:first-child {
      text-align: left;
    }
    &:last-child {
      text-align: right;
    }
    &:not(:first-child):not(:last-child) {
      padding-left: 35px;
    }
    &:nth-child(2) {
      font-weight: bold;
    }
  }

  tbody td {
    text-align: center;
    padding: 0.7rem;
    &:first-child {
      color: #00a1b2;
    }
    &:last-child {
      color: #00a1b2;
    }
    &:nth-child(2) {
      font-weight: bold;
    }
  }
  tbody tr:nth-child(odd) {
    background: #fafafa;
    outline: none;
  }
  tr:hover {
    background: #f1f1f1;
    border-bottom: solid 1px white;
    .tw-link {
      text-decoration: underline;
    }
  }
}

.sales-leads__paginator {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  cursor: pointer;
}

.sales-leads__paginator-icon {
  border: 1px solid #00a1b2;
  border-width: 2px 2px 0 0;
  content: "";
  display: inline-block;
  height: 14.5px;
  left: 37px;
  position: relative;
  top: 2.4px;
  vertical-align: top;
  width: 14.5px;
  top: 0;
}

.sales-leads__paginator-icon--open {
  @extend .sales-leads__paginator-icon;
  transform: rotate(135deg);
}

.sales-leads__paginator-icon--close {
  @extend .sales-leads__paginator-icon;
  transform: rotate(-45deg);
  margin: -8px;
}

.sales-leads__paginator-text {
  color: #00a1b2;
}
