
<div class="sales-leads__card">
<div class="sales-leads__title"><h1>
Sales Leads
</h1>
</div>
<div>
Showing {{default}} of {{count}}
</div>
<div class="sales-leads">
 <button class="sales-leads__button" (click)="addSalesLead()" type="button"> Add Lead</button>
</div>
 <div>
    <table class="sales-leads__table">
   <thead>
    <tr>
    <th>Lead name</th>
    <th>Sales Rep</th>
    <th>Clients</th>
    <th>Value</th>
    <th>Date</th>
    <th>Delete</th>
    </tr>
  </thead>
  <tbody>
   <tr *ngFor="let salesLead of sales">
     <td>{{salesLead.lead}}</td>
     <td>{{salesLead.rep}}</td>
      <td>{{salesLead.client}}</td>
      <td>{{salesLead.value}}</td>
       <td>{{salesLead.date | date:'short'}}</td>
      <td>X</td>
   </tr>
  <tbody>
  </table>
 </div>
 <div class="sales-leads__paginator">
  <div *ngIf="default !== count; else showLess">
  <div class="sales-leads__paginator-text" (click)="loadMore(5)">Show 5 more</div>
  <div class="sales-leads__paginator-icon--open"></div>
  </div>
  <ng-template #showLess>
  <div class="sales-leads__paginator-icon--close"></div>
  <div class="sales-leads__paginator-text" (click)="loadMore(5)">Show Less</div>
  </ng-template>
 </div>
</div>
