// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------
/// Regular font family
/// @type List
$text-font-stack: "Open Sans", sans-serif;
$text-size-default: 16px;
$text-size-headings: 28px;
$text-size-primary: 14px;
$text-size-secondary: 12px;
$text-size-content-headings: 20px;
$line-height-default: 1.2;
$line-height-content-headings: 2.2;
$font-weight-default: 400;
$font-weight-headings: 600;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;
/// Relative or absolute URL where all assets are served from
/// @type String
$base-url: "/assets/" !default;
