@import "../../../styles/main.scss";
.accounts-list__heading {
  margin-left: 12px;
}

.accounts-list__item {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
  .active {
    border-top: 1px solid #00a1b2;
    border-bottom: 1px solid #00a1b2;
  }
}

.accounts-list {
  position: relative;
  top: 60px;
}

.accounts-list__item-name {
  margin-left: 12px;
  font-size: $text-size-primary;
  padding: 3px 0;
}
.accounts-list__item-desc {
  margin-left: 12px;
  font-size: $text-size-secondary;
  padding: 3px 0;
}

.active > .accounts-list__item-name {
  color: #00a1b2;
  font-weight: bold;
}
