.navigation-header {
  background: #14a8f5;
  color: #ffffff;
  width: 100%;
  top: 38px;
  z-index: 1;
  position: fixed;
  display: flex;
}

.navigation-header__item {
  padding: 2px 0;
  background: #008cdb;
  border-top-right-radius: 28px;
  border-bottom-right-radius: 28px;
}

.navigation-header__item-list {
  padding: 2px 0;
  &:not(:last-child) {
    background: #008cdb;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
  }
}
.navigation-header__text {
  padding-left: 12px;
}

.navigation-header__right-border {
  border-style: solid;
  border-width: 1.2px 1.2px 0 0;
  content: "";
  display: inline-block;
  height: 1.2em;
  left: 0.15em;
  position: relative;
  top: 0.22em;
  left: 0;
  transform: rotate(45deg);
  vertical-align: top;
  width: 1.2em;
}
