/**
 * Basic typography style for copy text
 */

body {
  color: black;
  font-style: normal;
  font-size: $text-size-primary;
  font-weight: 400;
  font-family: $text-font-stack;
  background: #f1f1f1;
  margin: 0px;
}

h1 {
  font-size: $text-size-headings;
  font-weight: $font-weight-headings;
  line-height: $line-height-default;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: $text-size-content-headings;
  font-weight: $font-weight-headings;
  line-height: $line-height-content-headings;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
